.movie-info{
    margin-left: 50px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    width: 90%;
    min-height: 600px;
    margin-right: 10px;
    padding-bottom: 15px;
}
.buy-film-button{
    padding: 2px;
    border: none;
    background-color:#ffdd2d;
    width: 200px;
    height: 30px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    margin-top:10px;
    margin-right: 0px;
}
.buy-film-button:hover{
    background-color:#ff7a2d;
}
.buy-film-button:active{
    background-color:#ff7a2d;
}
.add-review{
    padding: 2px;
    border: none;
    background-color:#ffdd2d;
    width: 200px;
    height: 30px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    margin-top:10px;
}
.add-review:hover{
    background-color:#ff7a2d;
}
.add-review:active{
    background-color:#ff7a2dc4;
}
h1{
    margin: 0;
}
p{
    margin-top: 5px;
}
.top{
    margin-top: 50px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.top-info{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top-left-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top-right-info{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top-right-info ul{
    width: 150px;
    margin: 0;
    padding:0;
    list-style: none;
}
.top-right-info li{
    margin-bottom: 5px;
}
.bottom-info{
    width: 500px;
    margin-left: 20px;
}
.special{
    color:#7e7e7e;
}
.reviews-info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.review{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    list-style-position:inside;
    margin-bottom: 8px;   
}
.review-button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

